@model List<TQuanHome.Areas.Identity.Data.PostInfo>
@{
    ViewData["Title"] = "Home Page";
}

<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export"
     data-source="gallery"
     style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-3048" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                data-masterspeed="2000" data-thumb="~/assets/img/slider/slide1.jpg" data-rotate="0"
                data-saveperformance="off" data-title="HTML5 Video" data-param1="" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/assets/img/slider/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-3045-layer-8"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-75','-75','-75','-75']"
                     data-fontsize="['22','22',22','22']" data-lineheight="['22','22','22','22']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;">
                    Cùng tìm kiếm ngôi nhà thứ 2 của bạn cùng với
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-Title  tp-resizeme" id="slide-1699-layer-1"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                     data-fontsize="['50','50','36','22']" data-lineheight="['70','70','70','30']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; white-space: nowrap;text-transform:left;">
                    TQ2NDHOME
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle  tp-resizeme rs-parallaxlevel-2" id="slide-3046-layer-4"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']"
                     data-fontsize="['15','15','15','12']" data-lineheight="['60','60','60','22']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 9; white-space: nowrap;text-transform:left;">
                    Rất nhiều phòng trọ đang cho thuê
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption" id="slide-3005-layer-7" data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['124','124','124','123']" data-width="none" data-height="none"
                     data-whitespace="nowrap" data-type="button"
                     data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                     data-responsive_offset="on" data-responsive="off"
                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                     data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[30,30,30,30]"
                     style="z-index: 13; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    <a href="#" class="btn btn-common">Xem thêm</a>
                </div>
            </li>


            <!-- SLIDE  -->
            <li data-index="rs-3046" data-transition="zoomin" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut"
                data-masterspeed="1500" data-thumb="~/assets/img/slider/slide2.jpg" data-rotate="0"
                data-saveperformance="off" data-title="Apartments" data-param1="" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/assets/img/slider/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="10" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-3045-layer-8"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-75','-75','-75','-75']"
                     data-fontsize="['22','22',22','22']" data-lineheight="['22','22','22','22']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;">
                    Cùng tìm kiếm ngôi nhà thứ 2 của bạn cùng với
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-Title  tp-resizeme" id="slide-1699-layer-1"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                     data-fontsize="['50','50','36','22']" data-lineheight="['70','70','70','30']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                     data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 7; white-space: nowrap;text-transform:left;">
                    TQ2NDHOME
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption NotGeneric-SubTitle  tp-resizeme rs-parallaxlevel-2" id="slide-3046-layer-4"
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']"
                     data-fontsize="['15','15','15','12']" data-lineheight="['60','60','60','22']" data-width="none"
                     data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 9; white-space: nowrap;text-transform:left;">
                    Rất nhiều phòng trọ đang cho thuê
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption" id="slide-3005-layer-7" data-x="['center','center','center','center']"
                     data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                     data-voffset="['124','124','124','123']" data-width="none" data-height="none"
                     data-whitespace="nowrap" data-type="button"
                     data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                     data-responsive_offset="on" data-responsive="off"
                     data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                     data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]"
                     data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]"
                     data-paddingleft="[30,30,30,30]"
                     style="z-index: 13; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    <a href="#" class="btn btn-common">Xem thêm</a>
                </div>
            </li>

        </ul>
    </div>
    <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
</div>
<!-- END REVOLUTION SLIDER -->
<!-- Intro Section Start -->
<div class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h2 class="section-title">Tìm kiếm nhanh</h2>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="search-category-container">
                        <label class="styled-select">
                            <select class="classic" id="provinces">
                                <option value="">Tỉnh/Thành phố</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="search-category-container">
                        <label class="styled-select">
                            <select class="classic" id="districts">
                                <option value="">Quận/Huyện</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="search-category-container">
                        <label class="styled-select">
                            <select class="classic" id="wards">
                                <option value="">Phường/Xã</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="text-right btn-section">
                        <button type="button" class="btn btn-common"><i class="lni-search"></i> Tìm</button>
                    </div>
                </div>
            </div>
            @*      <div class="row range-slider option-hide" style="display: none;"> *@
            <div class="row range-slider">
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <!-- Page contents -->
                    <input type="text" id="range" value="" name="range" />
                </div>
            </div>
            @* <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-left">
            <a href="#" class="show-options"> More options</a>
            </div>
            </div> *@
        </div>
    </div>
</div>
<!-- Intro Section End -->
<!-- Property Section Start -->
<section class="property section-padding">
    <div class="container">
        @* <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h2 class="section-title">Tin đăng nổi bật</h2>
                    <p>Những tin đăng được xem nhiều nhất ở đây</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid-card-index" src="~/assets/img/property/house1.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label bg-yellow">Hết phòng</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng trọ có cửa số cây xanh đầu Câu Rồng</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> An Hải Tây, Thanh Khê, Đà Nẵng</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>2.500.000/tháng</span>
                                    </div>
                                    <p>Đã đang 9 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid-card-index" src="~/assets/img/property/house2.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng trọ 346 Mỹ An đầy đủ nội thất an ninh 24/24</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i>Mỹ An, Ngũ Hành Sơn, Đà Nẵng</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>2.200.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 4 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid-card-index" src="~/assets/img/property/house3.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng mới có tháng máy gần khu CNC, FPT, UFM</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Long Trường, Quận 9, Ngũ Hành Sơn</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>3.200.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 2 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid-card-index" src="~/assets/img/property/house4.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Kí túc xá, SleepBox cao cấp giá rẻ Thủ Đức</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Linh Xuân, Thủ Đức</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>1.400.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 6 ngày trước </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid-card-index" src="~/assets/img/property/house5.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label bg-yellow">Hết phòng</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng đầy đủ tiện nghi ngay trung tâm Quận 3</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Phường 2, Quận 3, Hồ Chí Minh</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>3.900.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 13 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid-card-index" src="~/assets/img/property/house6.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng cao cấp gần Vạn Hạnh MALL, đầy đủ tiện nghi</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Phường 12, Quận 10, Hồ Chí Minh</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>4.500.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 2 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <a href="listing.html" class="btn btn-common">Browse All</a>
                </div>
            </div>
        </div> *@
        <div class="row">
            <div class="col-12">
                <h2 class="desc-title">Đề xuất cho bạn</h2>
            </div>
            @foreach (var similarPost in Model)
            {
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="property-main">
                        <div class="property-wrap">
                            <div class="property-item">
                                <div class="item-thumb">
                                    <a class="hover-effect" href="@Url.Action("Detail", "List", new { id = similarPost.PostId })">
                                        <img class="img-fluid-card-index" src="@similarPost.Img1" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">Đang cho thuê</span>
                                    </div>
                                </div>
                                <div class="item-body">
                                    <h3 class="property-title">
                                        <a href="@Url.Action("Index", "Detail", new { id = similarPost.PostId })">@similarPost.PostTitle</a>
                                    </h3>
                                    <div class="adderess">
                                        <i class="lni-map-marker"></i>@similarPost.AddressDetail
                                    </div>
                                    <div class="pricin-list">
                                        <div class="property-price">
                                            <span>@String.Format("{0:n0}", similarPost.Price) đ/tháng</span>
                                        </div>
                                        <p>
                                           @((DateTime.Now - similarPost.PostDate).Days == 0 ? "Vừa đăng hôm nay" : (DateTime.Now - similarPost.PostDate).Days == 1 ? "Vừa đăng hôm qua" : $"Đã đăng {(DateTime.Now - similarPost.PostDate).Days} ngày trước")
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Property Section End -->
<!-- Featured Section Start -->
<section class="featured-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h2 class="section-title">GIỚI THIỆU</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xs-12">
                <img class="img-fluid-card-index" src="~/assets/img/about/img-2.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12">
                <h3 class="title-sub">
                    TQ2ndHome<h3>
                        <p class="intro-desc">
                            Kênh thông tin về phòng trọ, nhà trọ hàng đầu Việt Nam.
                            Website được thành lập vào tháng 4/2024 - là website mới nhất
                            hỗ trợ riêng biệt cho người muốn đăng tin cho thuê phòng trọ cũng như người
                            muốn tìm phòng trọ một cách nhanh nhất và chính xác nhất
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="featured-item">
                                    <div class="icon">
                                        <i class="lni-medall"></i>
                                    </div>
                                    <h3><a href="#">Thông tin xác thực</a></h3>
                                    <div class="featured-content">
                                        <p>
                                            Bạn có thể yên tâm vì những gì bạn có thể thấy đã được đội ngũ quản trị viên kiểm duyệt kĩ càng.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="featured-item">
                                    <div class="icon">
                                        <i class="lni-thumbs-up"></i>
                                    </div>
                                    <h3><a href="#">Trải nghiệm tối ưu</a></h3>
                                    <div class="featured-content">
                                        <p>TQ2ndHome đã và đang cố gắng hoàn thiện website để mang lại những trải nghiệm tốt nhất dành cho bạn.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lni-bolt-alt"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Hỗ trợ tìm kiếm</a></h3>
                        <p>
                            Nếu bạn có nhu cầu tìm phòng trọ, website của chúng tôi sẽ hỗ trợ bạn tim được phòng trọ ưng ý nhất.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
                    <div class="icon">
                        <i class="lni-apartment"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Hỗ trợ cho thuê</a></h3>
                        <p>
                            Bạn cũng có thể tự mình đăng tải các tin đăng về phòng trọ mà bạn đang cho thuê chỉ với vài bước đơn giản.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="lni-leaf"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Liên hệ với chúng tôi</a></h3>
                        <p>
                            Bạn có thể đóng góp ý kiên cá nhân dưới phần bình luận hoặc liên hệ chúng tôi đã cung cấp để được hỗ trợ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->
