@* @{
    ViewData["Title"] = "Post New";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}


<div class="my-properties">
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Thông tin</th>
                <th></th>
                <th>Ngày đăng</th>
                <th>Lượt xem</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="image">
                    <a href="property.html"><img alt="my-properties-3" src="assets/img/property/house-1.jpg" class="img-fluid"></a>
                </td>
                <td>
                    <div class="inner">
                        <a href="property.html"><h2>Modern Family Home</h2></a>
                        <figure><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</figure>
                        <div class="tag price">$ 27,000</div>
                    </div>
                </td>
                <td>14.02.2018</td>
                <td>421</td>
                <td class="actions">
                    <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="delete lni-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td class="image">
                    <a href="property.html"><img alt="my-properties" src="assets/img/property/house-2.jpg"></a>
                </td>
                <td>
                    <div class="inner">
                        <a href="property.html"><h2>Beautiful Single Home</h2></a>
                        <figure><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</figure>
                        <div class="tag price">$ 315,000</div>
                    </div>
                </td>
                <td>4.01.2018</td>
                <td>266</td>
                <td class="actions">
                    <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="delete lni-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td class="image">
                    <a href="property.html"><img alt="my-properties-2" src="assets/img/property/house-3.jpg"></a>
                </td>
                <td>
                    <div class="inner">
                        <a href="property.html"><h2>Masons Villas</h2></a>
                        <figure><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</figure>
                        <div class="tag price">$ 62,000</div>
                    </div>
                </td>
                <td>24.03.2018</td>
                <td>45</td>
                <td class="actions">
                    <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="delete lni-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td class="image">
                    <a href="property.html"><img alt="my-properties-3" src="assets/img/property/house-4.jpg"></a>
                </td>
                <td>
                    <div class="inner">
                        <a href="property.html"><h2>Modern Family Home</h2></a>
                        <figure><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</figure>
                        <div class="tag price">$ 27,000</div>
                    </div>
                </td>
                <td>14.02.2018</td>
                <td>421</td>
                <td class="actions">
                    <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="delete lni-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td class="image">
                    <a href="property.html"><img alt="my-properties" src="assets/img/property/house-5.jpg"></a>
                </td>
                <td>
                    <div class="inner">
                        <a href="property.html"><h2>Beautiful Single Home</h2></a>
                        <figure><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</figure>
                        <div class="tag price">$ 315,000</div>
                    </div>
                </td>
                <td>4.01.2018</td>
                <td>266</td>
                <td class="actions">
                    <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="delete lni-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td class="image">
                    <a href="property.html"><img alt="my-properties-2" src="assets/img/property/house-2.jpg"></a>
                </td>
                <td>
                    <div class="inner">
                        <a href="property.html"><h2>Masons Villas</h2></a>
                        <figure><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</figure>
                        <div class="tag price">$ 62,000</div>
                    </div>
                </td>
                <td>24.03.2018</td>
                <td>45</td>
                <td class="actions">
                    <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                    <a href="#"><i class="delete lni-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-container">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="btn btn-common" href="#"><i class="lni-chevron-left"></i> Trước </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="btn btn-common" href="#">Sau<i class="lni-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div> *@

@model List<TQuanHome.Areas.Identity.Data.PostInfo>


<div class="my-properties">
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Thông tin</th>
                <th></th>
                <th>Ngày đăng</th>
                <th>Lượt xem</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            
                @foreach (var post in Model)
                {
                    <tr>
                        <td class="image">
                            <a href=""><img alt="@post.Img1" src="@post.Img1" class="img-fluid"></a>
                        </td>
                        <td>
                            <div class="inner">
                                <a href="property.html"><h2>@post.PostTitle</h2></a>
                                <figure><i class="lni-map-marker"></i> @post.AddressDetail</figure>
                                <div class="tag price">$ @post.Price</div>
                            </div>
                        </td>
                        <td>@post.PostDate.ToString("dd.MM.yyyy")</td>
                        <td>10</td>
                        <td class="actions">
                            <a href="#" class="edit"><i class="lni-pencil"></i>Edit</a>
                            <a href="#"><i class="delete lni-trash"></i></a>
                        </td>
                    </tr>
                }
         

        </tbody>
    </table>
    @* <div class="pagination-container">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="btn btn-common" href="#"><i class="lni-chevron-left"></i> Trước </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="btn btn-common" href="#">Sau<i class="lni-chevron-right"></i></a></li>
            </ul>
        </nav>
    </div> *@
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".delete-post").on("click", function (e) {
            e.preventDefault();
            var postId = $(this).data("post-id");
            if (confirm("Bạn có chắc chắn muốn xóa bài đăng này không?")) {
                $.ajax({
                    url: "@Url.Action("DeleteMyPost", "MyPost")",
                    type: "POST",
                    data: { postId: postId },
                    success: function (response) {
                        if (response.deleted) {
                            // Xử lý thành công, có thể làm gì đó nếu cần thiết
                            alert("Đã xóa bài đăng khỏi danh sách đã lưu thành công!");
                            // Cập nhật giao diện nếu cần
                            // Ví dụ: $(this).closest("tr").remove();
                        } else {
                            alert("Không thể xóa bài đăng khỏi danh sách đã lưu.");
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi trong quá trình xóa bài đăng khỏi danh sách đã lưu.");
                    }
                });
            }
        });
    });
</script>